body {
  text-align: center;
}

form {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 20px;
  height: 250px;
  margin-left: 40px;
  margin-right: 40px;
}

#results {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 20px;
  margin: 40px;
}

#result {
  height: 50px;
  font-size: 40px;
  *background-color: white;
}
